# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
*.egg-info/  
.installed.cfg
*.egg
MANIFEST

# Pytest
.cache

# mypy
.mypy_cache/
.dmypy.json

# flake8
.flake8

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env
.env.local
.env.production
.env.test

# Virtual environments
venv/
ENV/
env/
env.bak/
